#main-content {
  margin-top: 10%;
}
#main-content h1 {
  font-size: 64px;
  font-weight: 300;
}
.member img,
.members img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.members {
  display: inline-block;
  margin-left: 7%;
}
.member {
  display: inline-block;
  margin-left: 0%;
}
.row {
  margin-top: 2%;
}
.rows {
  margin-bottom: 7%;
}
@media only screen and (max-width: 1000px) {
  #main-content {
    margin-top: 30%;
  }
  .columns {
    width: 100%;
  }
  .members {
    display: inline-block;
    margin-left: 0%;
    margin-bottom: 20px;
  }
  .member {
    margin-bottom: 20px;
  }
}
